name: CI - Build and Test

# Created using https://adamj.eu/tech/2023/11/02/github-actions-faster-python-virtual-environments/
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Restore cached virtualenv
        uses: actions/cache/restore@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('requirements.txt') }}
          path: .venv

      - name: Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          python -m pip install -r requirements.txt
          echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV

      - name: Saved cached virtualenv
        uses: actions/cache/save@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('requirements.txt') }}
          path: .venv

      - name: Import Spotify dev app credentials
        env:
          SPOTIPY_CLIENT_ID: ${{ secrets.CLIENT_ID }}
          SPOTIPY_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          SPOTIPY_REDIRECT_URI: ${{ secrets.CLIENT_REDIRECT_URI }}
        run: python -m statsCollector.py
